* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", "sans-serif";
}

.blog-card--container {
  background-color: hsl(0, 0%, 100%);
  padding: 2.2rem;
  max-width: 33.7rem;
  border-radius: 2.3rem;
  box-shadow: 0.8rem 0.8rem 0 0 black;
  border: 1px solid black;
  margin: 1.6rem;
}

.blog-card--container--active {
  box-shadow: 1.2rem 1.4rem 0 0 black;
  transition: box-shadow 0.2s;
}

.blog--heading--active {
  color: hsl(47, 88%, 63%);
  transition: box-shadow 0.2s;
}

.blog-card--container img {
  width: 100%;
  border-radius: 1.3rem;
}

.blog--category {
  font-weight: 900;
  background-color: hsl(47, 88%, 63%);
  padding: 0.7rem 1.2rem;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.blog--date {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 0%, 50%);
  margin-top: 1rem;
}

.blog-content h4 {
  display: inline-block;
  font-weight: 900;
  font-size: 2.3rem;
  margin: 1.5rem 0;
  cursor: pointer;
}

.blog--brief {
  color: hsl(0, 0%, 50%);
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.author-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.author-container img {
  width: 10%;
  margin: 1rem 0;
}

.author-container p {
  font-weight: 700;
  font-size: 1.4rem;
}
